
:root {
    --primary-rgb: 1, 71, 255;
    --white-rgb: 255, 255, 255;
}

/* Body */
body {
    color: #656579;
}
/* Body */

h1, h2, h3, h4, h5, h6 {
    color: #2d303a;
}

.text-heading {
    color: #2d303a;
}

.bg-light {    
    background-color: rgb(250, 250, 250);
}

/* button white */
.btn-white {
    background-color: rgb(var(--white-rgb));
    color: rgb(var(--primary-rgb));
}
.btn-white:hover {
    background-color: rgb(var(--white-rgb));
    color: rgb(var(--primary-rgb));
}
/* button white */

.btn-primary {
    background-color: rgb(var(--primary-rgb));
    border-color: rgb(var(--primary-rgb));
}

/*Custom button */
.custom-btn {
    font-size: 16px;
    font-weight: 500;
    padding: 12px 30px;
}
/*Custom button */

/* navbar primary */
.navbar-primary .nav-link {
    color: rgb(var(--white-rgb));
}

.navbar {
    padding: 20px;
}
/* navbar primary */

/*Home banner*/
.home-banner {
    background-color: rgb(var(--primary-rgb));
    color: rgb(var(--white-rgb));
    height: 760px;
}
/*Home banner*/

.bg-primary {
    --bs-bg-opacity: 1;
    background-color: rgb(var(--primary-rgb))!important;
}


.fs-18 {
    font-size: 18px;
}

.fs-50 {
    font-size: 50px;
}

@media (min-width: 768px) {
    .fs-sm-80 {
        font-size: 80px;
    }

    .fs-sm-65 {
        font-size: 65px;
    }
}

.btn-transparent {
    background-color: transparent;
    color: rgb(var(--white-rgb));
    border: 1px solid rgb(var(--white-rgb));
}

.btn-transparent:hover {
    background-color: transparent;
    color: rgb(var(--white-rgb));
    border: 1px solid rgb(var(--white-rgb));
}

.section {
    padding: 70px 0;
}

.chatbox-img-container {
    position: relative;
}

.chatbox-image {
    position: absolute;
    text-align: center;
    top: 5.5rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-radius: 15px;
    box-shadow: 0px 0px 5px 2px rgb(0 0 0 / 15%);
}

.brand-logos-container {
    padding-top: 23rem;
}

@media (max-width: 767px) {
    .brand-logos-container {
        padding-top: 15rem;
    }
}

.brand-logos img {
    /* width: 120px; */
    height: 100%;
}

.brand-logos {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.bg-primary-transparent {
    background-color: rgba(var(--primary-rgb), 0.1);
    color: rgb(var(--primary-rgb));
}

.text-primary {
    color: rgb(var(--primary-rgb)) !important;
}

.custom-badge {
    padding: 15px 20px;
}

.feature-icon {
    padding: 13px 20px;
    border-radius: 50%;
    background-color: rgb(var(--primary-rgb));
    font-size: 2.4rem;
    display: inline-block;
    margin-bottom: 1.5rem;
    line-height: normal;
    color: rgb(var(--white-rgb));
    box-shadow: 1px 2px 2px rgb(0 0 0 / 10%);
    border: 1px solid rgba(0, 0, 0, 0.05);
}

.feature-card {
    padding: 25px;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.05);
}

.feature-card.active {
    color: rgb(var(--white-rgb));
    background-image: url(./images/8.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 1;
    position: relative;
    border-radius: 20px;
}

.feature-card.active .feature-icon {    
    background-color: rgb(var(--white-rgb));
    color: rgb(var(--primary-rgb));
}

.feature-card.active::before {
    content: "";
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: 0;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    background: linear-gradient(to bottom, rgb(var(--primary-rgb)) 0%, rgba(var(--primary-rgb), 0.5) 100%);
    opacity: 0.9;
    z-index: -1;
}

.custom-img-bg {
    background-color: #eff1f4;
    padding: 35px 0px 0px 35px;
    border-radius: 30px;
}
.custom-img-bg img {
    border-radius: 30px 0;
}

.custom-img-bg1 {
    background-color: #eff1f4;
    padding: 35px 35px 0px 0;
    border-radius: 30px;
}

.custom-img-bg1 img {
    border-radius:  0 30px;
}

.custom-img-bg2 {
    padding: 25px 25px 0 25px;
}

.custom-img-bg2 img {
    border-radius:  30px 30px 0 0;
}

.footer-section {
    background-color: #1a1a1a;
    color: rgb(var(--white-rgb));
}

hr {
    color: #9a9595;
}

.footer-section  .nav-link {
    color: rgba(var(--white-rgb), 0.5);
    font-size: 14px;
    padding-left: 0;
    padding-bottom: 1.6rem;
}

.banner-image {
    background-image: url(./images/7.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 1;
    position: relative;
}

.banner-image::before {
    content: "";
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, rgb(var(--primary-rgb)) 0%, rgba(var(--primary-rgb), 0.9) 100%);
    opacity: 0.9;
    z-index: -1;
}

.banner-image1 {
    background-image: url(./images/7.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 1;
    position: relative;
}

.banner-image1::before {
    content: "";
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, rgba(var(--primary-rgb), 0.7) 0%, rgba(var(--primary-rgb), 0.9) 100%);
    opacity: 0.9;
    z-index: -1;
}

@media (min-width: 992px) {
    .navbar-nav-scroll {
        gap: 2rem;
    }
}

.nav-link {
    font-weight: 500;
}

.navbar-brand img {
    width: 6rem;
}

.list-group-transparent .list-group-item {
    background-color: transparent;
    border: 0;
    color: #656579;
}
.card-body {
    color: #656579;
}

  .testimonial {
    border-right: 4px solid var(--primary-rgb);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    padding: 30px 30px 30px 130px;
    margin: 0 15px 30px 15px;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
  .testimonial:before {
    content: "";
    position: absolute;
    bottom: -4px;
    left: -17px;
    border-top: 25px solid rgb(var(--primary-rgb));
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    transform: rotate(45deg);
  }
  .testimonial .pic {
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: 60px;
    left: 20px;
  }
  .testimonial .pic img {
    width: 100%;
    height: auto;
  }
  .testimonial .description {
    font-size: 15px;
    letter-spacing: 1px;
    color: #6f6f6f;
    line-height: 25px;
    margin-bottom: 15px;
  }
  .testimonial .title {
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: rgb(var(--primary-rgb));
    margin: 0;
  }
  .testimonial .post {
    display: inline-block;
    font-size: 17px;
    color: rgb(var(--primary-rgb));
    font-style: italic;
  }
  .owl-theme .owl-controls .owl-page span {
    border: 2px solid #2a3d7d;
    background: #fff !important;
    opacity: 1;
  }
  .owl-theme .owl-controls .owl-page.active span,
  .owl-theme .owl-controls .owl-page:hover span {
    background: rgb(var(--primary-rgb)) !important;
    border-color: rgb(var(--primary-rgb));
  }
  @media only screen and (max-width: 767px) {
    .testimonial {
      padding: 20px;
      text-align: center;
    }
    .testimonial .pic {
      display: block;
      position: static;
      margin: 0 auto 15px;
    }
  }
  